* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Yantramanav', sans-serif;
  font-size: 16px; /*sets the font size to 16px */
  font-weight: 300; /*sets the font weight to 300 */
  line-height: 1.6; /*sets the line height to 1.6 * the font size */
  color: #000000;
}

h1, h2, h3, h4 {
    line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* custom logo sizing */
#logo {
   max-width: 250px;
  }

#hero {
   background-color: #ffffff;
   padding: 20px 0;
   display: inline-block;
   width: 100%
   }

#projects {}

#contact {}

#aboutme {}

img {
  width: 100%;
}

a {
  color: #1e8c92;
  text-decoration: none; /* No underlining */
}

a:hover {
  color: #2ed8e2;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited { /* visited link */
  /* color: #1e8c92; */
}
a:active { /* selected link */
  color: #1e8c92;
}
a:hover,
a:focus {
  color: #2ed8e2;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #1e8c92;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 6px;
  border-bottom: 2px solid #1E8C93; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #1E8C93;
  text-transform: uppercase;
  border: 2px solid #1E8C93;
}

.button.contact:hover {
  background-color: #2ed8e2;
  color: #ffffff;
}

/*Layout styling*/
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

header {
  background-color: #E7E7E7;
  text-align: center;
  padding: 10px 0;
  box-shadow: inset -2px -3px 3px 0 rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

selector {
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
}

#hero h1 {
  text-align: center; /* Centers text */
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

main {
  padding-top: 200px;
}


























/*Colors used:Primary color (White):#ffffff
              Secondary colors (black):#000000
                               (Teal):#1e8c92
                              (Teal1):#27b4bd
                              (Teal2):#2ed8e2
*/
